body{
    position: relative;    
    font-family:Roboto,helvetica neue,helvetica,arial,sans-serif;
    font-size: 13px;
    line-height: 1.308em;    
}
ul{
    padding: 0;
    margin: 0;
}
li{    
    list-style: none;    
    color: rgb(85, 84, 84);
    padding: 0;
    margin: 0;
}
li:first-letter{
    text-transform: capitalize;    
}
h1{    
    color: #555454;
    font-size: 26px;
    font-weight: bold;
    line-height: 28px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0;
    padding-bottom: 4px;
}

.weather-app-wrapper{
    max-width: 800px;
    margin: 60px auto;
    
}
.weather-app{  
    background: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); 
    max-width: 800px;    
    margin-bottom: 0;    
    padding: 30px;
    border: 1px solid rgb(231, 219, 231);
    border-radius: 10px;   
}
.location{
    margin-bottom: 20px;
}
.clearfix img{
    margin-right: 5px;
    float: left;
    height:60px ;
    width: 60px;
}
.clearfix strong{
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}
.clearfix span{
    position: relative;
    font-size: 14px;
    top: -34px;
}
.btn-search{
    color: white; 
    position: relative;           
    border: none; 
    background: rgb(93, 201, 190);
    text-align: center; 
    margin-top: -2px;
    height: 35px;    
    
}  
.search-button{
    text-align: center; 
    position: relative;
    padding-left: 85px;   
    padding-right: 85px;
    margin-bottom: 5px;
    height: 32px; 
    width: 500px;
    border: navajowhite;
                   
}
.active {
    color: black;
    cursor: default;
}
.active:hover {
    text-decoration: none;
    color: black;
}
.weather-forecast{
    margin-top: 30px;    
         
}
.weather-forecast-date{
    color: black;
    font-size: 16px;
    margin-left: 5px;
    opacity: 0.7; 
    margin-bottom: 8px;      
}
.weather-forecast-temp{
    font-size: 13px;
    margin-top: 10px;
    margin-left: 4px;
    
}
.weather-forecast-temp-min{
    opacity: 0.5;    
}
.weather-icon{
    display: block;
    margin: 0;
}
.col-forecast{
    text-align: center;
    padding: 10px;
    
}
.col-forecast:hover{    
    background: rgb(239, 252, 247);    
    border-radius: 25px;
}

